body
{
background-color: rgb(127,95,51);
}
ul, ul li
 {
display: block;
 list-style: none;
 margin: 0;
 padding: 0;
 }
 ul li
 {
float: left;
 }
 ul a:link, ul a:visited
 {
text-decoration: none;
 display: block;
 text-align: center;
 color: #005500;
 width: 120px;
 border: 2px outset #cccccc;
 padding: 5px;
 background-color: #00ffff;
 }
 ul a:hover
 {
color: #ff00ff;
 text-decoration: underline;
 border-style: inset;
 padding: 7px 3px 3px 7px;
 background-color: #00ff00;
 }
