body
{
background-color: rgb(127,95,51);
}
ul
{
float: left;
width: 140px;
background: #00ffff;
margin: -1px 0 0 -1px;
}
ul
{
margin: 0;
padding: 0;
width: 140px;
background-color: #00ffff;
border: 1px solid #aaaaaa;
}
li 
{
position: relative;
list-style: none;
margin: 0;
border-bottom: 1px solid #cccccc;
}
ul ul
{
position: absolute;
top: 0;
left: 140px;
display: none
}
li.submenu
{
background: url(dolny.gif) 95% 50% no-repeat;
 } 
li a:link, li a:visited
{
display: block;
padding: 5px;
text-decoration: none;
width: 140px;
color: #005500;
}
ul a:link, ul a:visited
{
width: auto;
color: #005500;
}
li:hover
{
background-color: #0000ff;
color: #ff00ff;
text-decoration: none; 
}
li.submenu:hover
{
background-color: #0000ff;
color: #ff00ff;
}
ul.level1 li.submenu:hover ul.level2
{
display: block;
color: #ff00ff;
}
ul.level2 li.submenu:hover ul.level3
{
display: block;
color: #ff00ff;
}

