body
{
background-color: rgb(127,95,51);
}
ul 
{
list-style: none;/*(styl listy bez podpunktów )*/
margin: 5px;
padding: 0px;
display: block;
width: 150px;
}
ul li
 {
display: block;
 list-style: none;
 margin: 0px;
 padding: 0px;
 }


ul a:link, /*(link kiedy w niego nie kliknąłeś )*/
 ul a:visited /*(link po kliknięciu w niego)*/
{
display: block;/*element będzie wyświetlony w bloku (odstęp z góry i
z dołu)*/
color: #005500; /*(kolor tekstu)*/
text-decoration: none; /*(brak dekoracji tekstu)*/
border: 2px outset #cccccc;
padding: 5px;
width: 120px;
background-color: rgb(107, 28, 56);

}
ul a:hover /*(najechnaie kursorem na link )*/
{
color: #ff00ff;
text-decoration: underline;/*(podkreślenie )*/
border-style: inset;
 padding: 7px 3px 3px 7px;
 background-color: rgb(106, 7, 28);

}

