p#pogrubienie_dolny
{
	font-size: 36px;
	color: #965aff;
}
p#pochylona_dolny
{
	font-size: 41pt;
	color: #fabf66;
}
p#index_gorny_dolny
{
	font-size: 1,6cm;
	color: #aa8c02;
}
p#index_dolny_dolny
{
	font-size: 2,7cm;
	color: #46f0df;
}
p#mono_dolny
{
	font-size: 46px;
	color: #2adc65;
}
p#powiekszenie_dolny
{
	color: #643c98;
}
p#pomniejszenie_dolny
{
	color: #02a034;
}