A 
{
font-size: 18pt;
text-decoration: none;
}
A:link 
{
color: blue;
}
A:visited 
{
color: green;
}
A:hover 
{
color: red;
text-decoration: underline;
}
div
    {
        color: red;
        font-size: 2cm;
    }




    