body { margin: 0px;
    border: 0px;
    padding: 0px; }
   
   
   
div 
{
background-color: #7ad5ff;
border:  5px solid;
color:  red;
font-size: 42px;
width:  900px;
height:  150px;
margin-left: auto;
margin-right: auto;
text-align: center;
}
